<h1>Search#index</h1>
<p>Find me in app/views/search/index.html.erb</p>
<%= puts response  %>
<%= form_tag(:controller => "search", :action => "result") do %>
  <%= label_tag(:q, "Nom du film:") %>
  <%= text_field_tag('search') %>
  <%= submit_tag("Search") %>
<% end %>



<table>
  <tr>
    <th>Nom</th>
    <th>Date sortie</th><th>Poster</th>
	<th>Note</th>
  </tr>

	<% @film.each do |films| %>
  <tr>
    <td><%= films.title %></td>
    <td><%=  films.release_date %></td>
	<td><%= image_tag("http://image.tmdb.org/t/p/w154/" + films.poster_path, :alt => "Affiche du film") %></td>
	<td><%= films.overview.ljust(100) %> </td>
	
  </tr>
	<% end %>
	
</table>	
	

