<h1>Search#result</h1>
<p>Find me in app/views/search/result.html.erb</p>
<p> variable de recherche <%=  @test %> </p>

<% if (@filmSearch.empty? == true) %>
	<h3> Malheureusement votre recherche n'a renvoyé aucun résultat. </h3>
<% else %>
	<table>
	  <tr>
		<th>Titre</th>
		<th>Bande Annonce</th>
		<th>Poster</th>
		<th>Ajouter à ma liste</th>
	  </tr>

	<% @filmSearch.each do |films| %>
	  <tr>
		<td><%= films.title %></td>
		<% if @bandeA[@a] == "nope" %>
			<td> Bande annonce non disponible </td>
		<% else %>
			<td><iframe src="https://www.youtube.com/embed/<%= @bandeA[@a] %>" width="320" height="240" frameborder="0"></iframe></td>
		<% end %>
		
		<% if films.poster_path != nil %>
			<td><%= image_tag("http://image.tmdb.org/t/p/w154/" + films.poster_path, :alt => "Affiche film") %></td>
		<% else %>
			<td> Affiche indisponible </td>
		<% end %>
		
		<% if @dejadansListe.include?(films.id) == true %>
			<td> Ce film est déjà dans votre liste </td>
		<% else %>
			<td><%= link_to "Ajouter ce film", controller: "liste", action: "add", id: films.id %>
			</td>
		<% end %>
		
	  </tr>
	  <% @a += 1 %>
	<% end %>
	  

	</table>
<% end %>