<!-- <p>Find me in app/views/search/index.html.erb</p>image_submit_tag("logo.png") -->

<div id="header2">
<%= puts response  %>
<%= form_tag(:controller => "searches", :action => "result") do %>
  <%= text_field_tag('search', nil, :placeholder => "Faîtes une nouvelle recherche") %>
  <%= submit_tag("Valider", :class => "submit_search") %>
<% end %>
</div>
<div class="listFilm">
	<% @test["results"].each do |films| %>



	  <% if @cote==1 %>
        <ul class="droite">
        <% @cote += 1 %>
      <% else %>
        <ul class="gauche">
        <% @cote = 1 %>
      <% end %>
	
    	<li><%= image_tag("http://image.tmdb.org/t/p/w154/" + films["poster_path"], :alt => "Affiche du film") %></li>
        <li><p><%= films["title"] %></p>
		<% if @dejadansList.include?(films["id"]) == true %>
			<p> Ce film est déjà dans votre liste </p>
		<% else %>
			<p><%= link_to "Ajouter ce film", controller: "listes", action: "add", id: films["id"] %></p>
		<% end %>
        </li>
	  </ul>
	<% end %>
	
</div>
