<!-- <p>Find me in app/views/search/index.html.erb</p>image_submit_tag("logo.png") -->

<div id="header2">
<%= puts response  %>
<%= form_tag(:controller => "searches", :action => "result") do %>
  <%= text_field_tag('search', nil, :placeholder => "Faîtes une nouvelle recherche") %>
  <%= submit_tag("Valider", :class => "submit_search") %>
<% end %>
</div>
<div class="listFilm">
	<% @popular["results"].each do |films| %>
		<ul>	
			<li><%= image_tag("http://image.tmdb.org/t/p/w154/" + films["poster_path"], :alt => "Affiche du film") %></li>
			<li><p><%= films["title"] %></p></li>
			<% movie = Movie.where(id_tmdb:films["id"]) %>
			<% if (!movie.empty?) %>
				<% if(current_user.listes.where(movie_id:movie.first.id).first == nil) %>
					<li><p><%= link_to "Ajouter ce film", controller: "listes", action: "add", id: films["id"] %></p></li>
				<% else %>
					<li><p> Film déjà dans votre liste </p></li>
				<% end %>
			<% else %>
				<li><p><%= link_to "Ajouter ce film", controller: "listes", action: "add", id: films["id"] %></p></li>
			<% end %>
				
		</ul>
	<% end %>
	
</div>
