<h1>Search#infos</h1>

	<div class="infos">
		<% if parse.poster_path != nil %>
			<td><%= image_tag("http://image.tmdb.org/t/p/w154/" + parse.poster_path, :alt => "Affiche film") %></td>
		<% else %>
			<td> Affiche indisponible </td>
		<% end %>
		<p><%= parse.overview %></p>
	</div>
	<% @filmSearch.each do |films| %>
	  <tr>
		<td><%= films.title %></td>
		<% if @bandeA[@a] == "nope" %>
			<td> Bande annonce non disponible </td>
		<% else %>
			<td><iframe src="https://www.youtube.com/embed/<%= @bandeA[@a] %>" width="320" height="240" frameborder="0"></iframe></td>
		<% end %>
		
		<% if films.poster_path != nil %>
			<td><%= image_tag("http://image.tmdb.org/t/p/w154/" + films.poster_path, :alt => "Affiche film") %></td>
		<% else %>
			<td> Affiche indisponible </td>
		<% end %>
		
		<% movie = Movie.where(id_tmdb:films.id) %>
		<% if (!movie.empty?) %>
			<% if(current_user.listes.where(movie_id:movie.first.id).first == nil) %>
				<td><p><%= link_to "Ajouter ce film", controller: "listes", action: "add", id: films.id %></p></td>
			<% else %>
				<td><p> Film déjà dans votre liste </p></td>
			<% end %>
		<% else %>
			<td><p><%= link_to "Ajouter ce film", controller: "listes", action: "add", id: films.id %></p></td>
		<% end %>
		
	  </tr>
	  <% @a += 1 %>
	<% end %>
	  

	</table>
<% end %>